Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/sbom:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /sh
      args:
  ...

prow/presubmit/sbom_windows:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /daisy
      args:
      - -project=compute-image-test-pool-001
  ...

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

chore(cli_tools/common/imagefile/qemu_img_test): replace deprecated io/ioutil
  cli_tools/common/imagefile/qemu_img_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/common/utils/logging/service/logger_test): replace deprecated io/ioutil
  cli_tools/common/utils/logging/service/logger_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/common/utils/logging/service/logger): replace deprecated io/ioutil
  cli_tools/common/utils/logging/service/logger.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/common/utils/storage/buffered_writer_test): replace deprecated io/ioutil
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/common/utils/storage/storage_client): replace deprecated io/ioutil
  cli_tools/common/utils/storage/storage_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/diagnostics/main_windows_test): replace deprecated io/ioutil
  cli_tools/diagnostics/main_windows_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/common/gcsfuse/client): replace deprecated io/ioutil
  cli_tools/common/gcsfuse/client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/diagnostics/main): replace deprecated io/ioutil
  cli_tools/diagnostics/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/common/utils/files/files_test): replace deprecated io/ioutil
  cli_tools/common/utils/files/files_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/gce_image_publish/publish/publish): replace deprecated io/ioutil
  cli_tools/gce_image_publish/publish/publish.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

chore(cli_tools/common/assert/assert_test): replace deprecated io/ioutil
  cli_tools/common/assert/assert_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

remove dhcp-client and related code from rhel-10 kickstart
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

remove dhcp-client and related code from rhel-10 kickstart (#2478)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

fix typo with gpgcheck settings for rhel10
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

fix typo with gpgcheck settings for rhel10 (#2479)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

Update installpackage file check
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Expand logic tree for resolv.conf check
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Remove trailing comma from comment
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Update comment line lengths
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Update filepath for resolv.conf check
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Update installpackage resolv.conf check (#2480)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

remove rhui debug rpms for rhel 10 kickstart files
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

remove rhui debug rpms for rhel 10 kickstart files (#2481)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

Exclude rhui repos
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

Exclude rhui repos (#2483)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

glob all rhui repos instead for rhel 10 kickstart
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

remove logic disabling rhui and force releasever to 9 temporarily
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

remove logic disabling rhui and force releasever to 9 temporarily (#2484)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

remove releasever override right after installing google packages
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

remove releasever override right after installing google packages (#2485)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

Fix GPG Key URL path for Rocky 9
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
Due: none

Fix GPG Key URL path for Rocky 9 (#2486)
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
Due: none

try to use rpm to just install the guest agent and guest configs
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

feat: externalize VPC and host project config for Windows image workflow
  daisy_workflows/image_build/windows/README.md
  daisy_workflows/image_build/windows/windows-build-uefi.wf.json
Due: none

Add centos stream 10 configs for image builds
  daisy_workflows/image_build/enterprise_linux/centos_stream_10.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_10_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
Due: none

Add centos stream 10 build files (#2488)
  daisy_workflows/image_build/enterprise_linux/centos_stream_10.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_10_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10_arm64.cfg
Due: none

Add centos stream 10 configs for image builds
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_x86.cfg
Due: none

rename centos 10 files to include x86 architecture
  daisy_workflows/image_build/enterprise_linux/centos_stream_10_x86.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10_x86.cfg
Due: none

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
