Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/sbom:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /sh
      args:
  ...

prow/presubmit/sbom_windows:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /daisy
      args:
      - -project=compute-image-test-pool-001
  ...

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

Fix typos in documentation, logs, and comments in compute_image_tools
  README.md
  cleanerupper_container/main.go
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  gce_windows_upgrade/upgrader/upgrader.go
Due: prow/presubmit/flake8

Use local replace directives for repo dependencies in Go modules
  gce_export/go.mod
  gce_export/go.sum
  gce_windows_upgrade/go.mod
  gce_windows_upgrade/go.sum
  go/e2e_test_utils/go.mod
  go/e2e_test_utils/go.sum
Due: none

Use v0.0.0 for intra-repo dependencies in go.mod files
  cli_tools/go.mod
  gce_export/go.mod
  gce_windows_upgrade/go.mod
  go/e2e_test_utils/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Configure Dependabot to group Go module updates across directories
  .github/dependabot.yml
Due: none

Add 7-day default cooldown to Dependabot config
  .github/dependabot.yml
Due: none

Use local replace directives for repo dependencies in Go modules (#2748)
  cli_tools/go.mod
  gce_export/go.mod
  gce_export/go.sum
  gce_windows_upgrade/go.mod
  gce_windows_upgrade/go.sum
  go/e2e_test_utils/go.mod
  go/e2e_test_utils/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

refactor(e2e_test_utils): replace deprecated io/ioutil with os
  go/e2e_test_utils/junitxml/junitxml.go
  go/e2e_test_utils/launcher.go
Due: none

refactor(cli_tools): replace deprecated io/ioutil with os and io
  cli_tools/common/assert/assert_test.go
  cli_tools/common/gcsfuse/client.go
  cli_tools/common/imagefile/inspector_test.go
  cli_tools/common/imagefile/qemu_img_test.go
  cli_tools/common/utils/files/files_test.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/common/utils/logging/service/logger_test.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/tar_gcs_extractor_test.go
  cli_tools/diagnostics/main.go
  cli_tools/diagnostics/main_windows_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update OWNERS
  OWNERS
Due: none

Add Windows 11 26H2 build files for Daisy workflows
  daisy_workflows/build-publish/windows/windows-11-26h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-26h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-26h2-ent-x64-uefi.wf.json
Due: none

Add logic to check Windows version for gsutil vs gcloud storage.
  daisy_workflows/image_build/install_package/windows/installpackage.ps1
Due: none

Integrate new DeprecatePolicy into cleanerupper binary.
  cleanerupper_container/main.go
Due: none

Update compute-daisy and google.golang.org/api in gce_image_publish
  gce_image_publish/go.mod
  gce_image_publish/go.sum
Due: none

Update compute-daisy and google.golang.org/api in gce_image_publish (#2764)
  gce_image_publish/go.mod
  gce_image_publish/go.sum
Due: none

Confirm Windefend is running before attempting to disable it.
  daisy_workflows/image_build/windows/bootstrap_install.ps1
  gce_image_publish/go.mod
  gce_image_publish/go.sum
Due: prow/presubmit/sbom_windows

Remove use_dynamic_template now that we are fully utilizing the new format
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: prow/presubmit/flake8

Remove Debian 11 and Buster image build files and FAI configs
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_11_worker.publish.json
  daisy_workflows/build-publish/debian/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/README.md
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_11_fai.wf.json
  daisy_workflows/image_build/debian/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/fai_config/files/etc/apt/sources.list/BULLSEYE
  daisy_workflows/image_build/debian/fai_config/files/etc/apt/sources.list/BUSTER
  daisy_workflows/image_build/debian/fai_config/package_config/BULLSEYE
Due: prow/presubmit/flake8

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
