Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Enabling SEV-SNP to Debian 13 (#2609)
  daisy_workflows/build-publish/debian/debian_13.publish.json
Due: none

Adding parameterized versions of the RHEL 10 daisy workflow files
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
Due: prow/presubmit/flake8

Migrate gsutil usage to gcloud storage (#2606)
  image_test/configuration/linux/generic_distro.py
Due: prow/presubmit/flake8

Fix openssh selinux context to ensure its labeled correctly as per new policies
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10_arm64.cfg
Due: none

Update export_disk_ext.sh
  daisy_workflows/export/export_disk_ext.sh
Due: none

Fix openssh selinux context to ensure its labeled correctly as per new policies (#2611)
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10_arm64.cfg
Due: none

chore: Migrate gsutil usage to gcloud storage
  daisy_workflows/image_build/sqlserver/sql_install.ps1
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: prow/presubmit/sbom_windows

Making copies of the RHEL Daisy workflow files to parameterize as part of the consolidation work
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Added Parameters to be used by the new Parameterized Kickstart files
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
Due: prow/presubmit/flake8

Making copies of the RHEL Daisy workflow files to parameterize as part of the consolidation work (#2612)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Parameterize the Daisy Kickstart Files
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Parameterizing the image_build Daisy workflow files
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Parameterizing the Daisy build-publish files for RHEL 8-10
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Parameterizing the image_build Daisy workflow files (#2615)
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Parameterize the Daisy Kickstart Files (#2616)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Removing the use_dynamic_template variable since it will always be true for the consolidated files
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Removing the use_dynamic_template variable since it will always be true for the consolidated files (#2618)
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Parameterizing the Daisy build-publish files for RHEL 8-10 (#2619)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Added Parameters to be used by the new Parameterized Kickstart files (#2613)
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
Due: prow/presubmit/flake8

Fix missing google-cloud-sap package
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Fix missing google-cloud-sap package (#2620)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Added the new image_build parameters to the build_publish workflow files
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Added the new image_build parameters to the build_publish workflow files (#2621)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Removing no longer needed image_family variable
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Removing no longer needed image_family variable (#2622)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Removing unused is_eus in RHEL 8 consolidated image_build
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
Due: none

Removing unused is_eus in RHEL 8 consolidated image_build (#2623)
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
Due: none

Creating Python file that will create the Daisy workflow file to create the image
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

Fixing RHEL consolidated Kickstart failure
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: prow/presubmit/flake8

Fixing RHEL consolidated Kickstart failure (#2625)
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: prow/presubmit/flake8

Adding LVM disk size variable to consolidated workflow files
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Adding LVM disk size variable to consolidated workflow files (#2626)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Fixes for RHEL consollidated kickstart files
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: prow/presubmit/flake8

Removing resource-agents-gcp from RHEL 9 for SAP
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_4_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_6_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Adding missing package remove from RHEL 9
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none
