Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

No public description
  daisy_workflows/image_build/windows/windows-server-2016-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-uefi-payg.wf.json
Due: none

CentOS 10: Remove any debug kernels
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10_arm64.cfg
Due: none

CentOS 10: Remove any debug kernels (#2731)
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10_arm64.cfg
Due: none

Testing Github PR Leakr Error
  README.md
Due: none

Testing Github PR Leakr Error (#2735)
  README.md
Due: none

No public description
  README.md
Due: none

No public description
  gce_image_publish/main.go
  gce_image_publish/publish/publish.go
  gce_image_publish/publish/publish_test.go
Due: none

No public description
  cli_tools/mocks/mock_bucket_iterator.go
  cli_tools/mocks/mock_compute_service.go
  cli_tools/mocks/mock_http_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update Debian Daisy workflows to include builder_machine_type variable.
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_12.wf.json
  daisy_workflows/build-publish/debian/debian_12_arm64.wf.json
  daisy_workflows/build-publish/debian/debian_13.wf.json
  daisy_workflows/build-publish/debian/debian_13_arm64.wf.json
  daisy_workflows/image_build/debian/debian_11_fai.wf.json
  daisy_workflows/image_build/debian/debian_12_arm64.wf.json
  daisy_workflows/image_build/debian/debian_12_fai.wf.json
  daisy_workflows/image_build/debian/debian_13_arm64.wf.json
  daisy_workflows/image_build/debian/debian_13_fai.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
Due: none

Update CentOS Daisy workflows to include machine_type variable.
  daisy_workflows/build-publish/enterprise_linux/centos_stream_10.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_10_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_10.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_10_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_9_arm64.wf.json
Due: none

Add disk_name parameter to allow for configuring the disk export file to use.
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_12.wf.json
  daisy_workflows/build-publish/debian/debian_12_arm64.wf.json
  daisy_workflows/build-publish/debian/debian_13.wf.json
  daisy_workflows/build-publish/debian/debian_13_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_10.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_10_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9_arm64.wf.json
Due: none

Set the bootstrap source image to Windows 2025 Core for Windows 11 builds
  daisy_workflows/image_build/windows/windows-11-23h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-24h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-25h2-ent-x64-uefi.wf.json
Due: none

Updating the Edge update process to re-trigger the update scheduled tasks if the update hasn't completed in 2 minutes.
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

After 5 attempts to update Edge, reboot.
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

Quote $instance variable
  gce_recovery_scripts/recover_windows_instance.sh
Due: none

Bump golang.org/x/crypto from 0.49.0 to 0.52.0 in /cli_tools
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Bump golang.org/x/net from 0.54.0 to 0.55.0 in /cleanerupper_container
  cleanerupper_container/go.mod
  cleanerupper_container/go.sum
Due: none

Bump google.golang.org/grpc from 1.82.0 to 1.82.1 in /gce_image_publish
  gce_image_publish/go.mod
  gce_image_publish/go.sum
Due: none

Bump google.golang.org/grpc from 1.79.3 to 1.82.1 in /cli_tools_tests-
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Bump google.golang.org/grpc from 1.80.0 to 1.82.1 in /cleanerupper_container
  cleanerupper_container/go.mod
  cleanerupper_container/go.sum
Due: none

Pin versioned bootstrap image for Windows 11 workflows
  daisy_workflows/image_build/windows/windows-11-23h2-ent-x64-uefi.wf.json
Due: none

Update bootstrap source image for Windows 11 23H2 Enterprise workflow to be windows-server-2025-dc-core-v20260515
  daisy_workflows/image_build/windows/windows-11-23h2-ent-x64-uefi.wf.json
Due: none

Upgrade golang.org/x dependencies in cli_tools_tests.
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fix golang.org/x/sys@v0.45.0: checksum mismatch between downloaded ownloaded Go build and the current checksum.
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

update dependency golang.org/x/net to v0.55 to fix an incompatibility with grpc v1.82.1
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

update dependency golang.org/x/net to v0.55 to fix an incompatibility with grpc v1.82.1 (#2736)
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Reduce image retention window to 45 days in Debian publish workflows.
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_12.publish.json
  daisy_workflows/build-publish/debian/debian_12_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_13.publish.json
  daisy_workflows/build-publish/debian/debian_13_arm64.publish.json
Due: none

Creating new RHEL 10.2 EUS OOT GVE image publish files. This is just for publishing, the same image will be used as the existing RHEL 10.2 EUS GVNIC Baremetal image.
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_lvm_oot_gve.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_lvm_oot_gve_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_oot_gve.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_oot_gve_byos.publish.json
Due: none

Update golang dependencies
  gce_windows_upgrade/go.mod
  gce_windows_upgrade/go.sum
Due: none

Add SUSPEND_SAFE_FPR feature to Debian 12 and 13 publish configs
  daisy_workflows/build-publish/debian/debian_12.publish.json
  daisy_workflows/build-publish/debian/debian_12_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_12_worker.publish.json
  daisy_workflows/build-publish/debian/debian_12_worker_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_13.publish.json
  daisy_workflows/build-publish/debian/debian_13_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_13_worker.publish.json
  daisy_workflows/build-publish/debian/debian_13_worker_arm64.publish.json
Due: none

Add `google_cloud_repo` metadata attribute to Enterprise Linux image build script.
  daisy_workflows/image_build/enterprise_linux/build_installer.py
Due: prow/presubmit/flake8

Parameterize the Google Cloud repository in RHEL kickstart files.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Parameterize the Google Cloud repository in CentOS Stream kickstart files.
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_10_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_9_arm64.cfg
Due: none

Typo fix in `utils.GetMetadataAttribute` call.
  daisy_workflows/image_build/enterprise_linux/build_installer.py
Due: prow/presubmit/flake8

Re-enable support for configurable google_cloud_repo value in Debian image build workflows.
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_12.wf.json
  daisy_workflows/build-publish/debian/debian_12_arm64.wf.json
  daisy_workflows/build-publish/debian/debian_13.wf.json
  daisy_workflows/build-publish/debian/debian_13_arm64.wf.json
  daisy_workflows/image_build/debian/debian_11_fai.wf.json
  daisy_workflows/image_build/debian/debian_12_arm64.wf.json
  daisy_workflows/image_build/debian/debian_12_fai.wf.json
  daisy_workflows/image_build/debian/debian_13_arm64.wf.json
  daisy_workflows/image_build/debian/debian_13_fai.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
Due: none

Allow dynamic configuration of the Google Cloud repository for Debian image builds.
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

Add 'canary' and 'global' as valid `google_cloud_repo` options for EL builds.
  daisy_workflows/image_build/enterprise_linux/build_installer.py
Due: prow/presubmit/flake8
