Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Adding source file and removing metadata entry
  daisy_workflows/image_build/windows_for_containers/windows-2019-dc-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-dc-for-containers-uefi.wf.json
Due: none

Adding source file and removing metadata entry (#2137)
  daisy_workflows/image_build/windows_for_containers/windows-2019-dc-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-dc-for-containers-uefi.wf.json
Due: none

Add RHEL 8.8 and 9.2 for SAP builds.
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_2_sap.wf.json
Due: none

Add RHEL 8.8 and 9.2 for SAP builds. (#2138)
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_2_sap.wf.json
Due: none

Bookworm fixes.
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/files/etc/hostname/GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: prow/presubmit/flake8

Add skeleton for sbom-util SBOM generation path
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Input param implementation for sbomutil sbom generation
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Fix sbomutil downloaded executable permissions
  daisy_workflows/export/export_disk.sh
  daisy_workflows/sbom_validation/enterprise_sbom_test.wf.json
Due: prow/presubmit/sbom

remove unnecessary echo statement
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Make sure we reference the right partitions for all debian images in our test script.
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Make sure we reference the right partitions for all debian images in our (#2140)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Use GCS Root path for sbom util
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  daisy_workflows/sbom_validation/enterprise_sbom_test.wf.json
Due: prow/presubmit/sbom

Add skeleton for sbom-util SBOM generation path (#2139)
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  daisy_workflows/sbom_validation/enterprise_sbom_test.wf.json
Due: prow/presubmit/sbom

Add support for sbom util path in other workflows
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
  daisy_workflows/build-publish/debian/debian_12.wf.json
  daisy_workflows/build-publish/debian/debian_12_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

Fix quotation mark issue
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
  daisy_workflows/build-publish/debian/debian_12.wf.json
  daisy_workflows/build-publish/debian/debian_12_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

Fix quotation issues
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

sbom util argument in the right subworkflow
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

Arm 64 suffix
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Change comment on arm64
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Introduce SBOM Util path to other workflows (#2141)
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
  daisy_workflows/build-publish/debian/debian_12.wf.json
  daisy_workflows/build-publish/debian/debian_12_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Fix empty sbom bug
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Fix empty sbom bug (#2143)
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Only make the hostname changes for bookworm
  daisy_workflows/image_build/debian/fai_config/files/etc/hostname/BOOKWORM
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: none

Bookworm fixes (#2142)
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/files/etc/hostname/BOOKWORM
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: prow/presubmit/flake8

Add logging for sbomutil export
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Add logging for sbomutil export (#2144)
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Add log for sbom util root
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

More accurate logging for sbom util path
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Add log for sbom util root (#2145)
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Add curly braces to var name
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

figure out full root sbom util path
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Investigate variable scope with if statement as the error
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

SBOM Util path debugging suggestion implementation
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

move println statements
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

change log message
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Debug gsutil ls (#2146)
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Echo the list repositories command input
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Echo the list repositories command input (#2147)
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Declare variable in wider scope
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

print gcs path var locally
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom
