Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Remove the arm OOT GVNIC Driver images since they should be x86 only (#2698)
  daisy_workflows/image_build/enterprise_linux/rhel_10_gvnic_baremetal_unsigned_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_gvnic_baremetal_unsigned_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_gvnic_baremetal_unsigned_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_gvnic_baremetal_unsigned_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

Update rollbackImage() to deprecate active image, instead of delete.
  gce_image_publish/publish/publish.go
  gce_image_publish/publish/publish_test.go
Due: none

Update bootstrap_install.ps1
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: prow/presubmit/sbom_windows

Update sql_install.ps1
  daisy_workflows/image_build/sqlserver/sql_install.ps1
Due: none

Adding package install commands for the oot gvnic driver
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
Due: none

Adding package install commands for the oot gvnic driver (#2700)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
Due: none

Adding new driver variables to RHEL 10 consolidated build-publish publish file
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
Due: none

Adding new driver variables to RHEL 10 consolidated build-publish publish file (#2701)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
Due: none

Adding build files for the signed version of the RHEL 10 with OOT GVNIC Driver
  daisy_workflows/build-publish/enterprise_linux/rhel_10_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_gvnic_baremetal_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_lvm_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_lvm_gvnic_baremetal_byos.publish.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_10_gvnic_baremetal.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_gvnic_baremetal_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_gvnic_baremetal.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_gvnic_baremetal_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

Adding build files for the signed version of the RHEL 10 with OOT GVNIC Driver (#2703)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_gvnic_baremetal_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_lvm_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_lvm_gvnic_baremetal_byos.publish.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_10_gvnic_baremetal.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_gvnic_baremetal_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_gvnic_baremetal.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_gvnic_baremetal_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

Creating New Build files for RHEL 10.2 EUS with the OOT GVNIC Driver
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_gvnic_baremetal_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal_byos.publish.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_10_2_eus_gvnic_baremetal.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_2_eus_gvnic_baremetal_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

Creating New Build files for RHEL 10.2 EUS with the OOT GVNIC Driver (#2702)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_gvnic_baremetal_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal_byos.publish.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_10_2_eus_gvnic_baremetal.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_2_eus_gvnic_baremetal_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

Separate rollback functions for obsolete vs deprecate
  gce_image_publish/publish/publish.go
  gce_image_publish/publish/publish_test.go
Due: none

Adding new OOT Driver variables to RHEL 8/9 consolidated build files
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Adding new OOT Driver variables to RHEL 8/9 consolidated build files (#2705)
  daisy_workflows/image_build/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Enables auto IPv6 configuration if IPv6 is present. Using --bootproto=dhcp only will configure ipv4 on the device. By setting --ipv6=auto, it will automatically configure ipv6 if present.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Edit CLI to include flag for rollback deprecation or obsoletion
  gce_image_publish/main.go
  gce_image_publish/publish/publish.go
  gce_image_publish/publish/publish_test.go
Due: none

Minor if-condition fix for rollback obsolete operation
  gce_image_publish/publish/publish.go
Due: none

Enables auto IPv6 configuration if IPv6 is present. (#2706)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Add OOT GVNIC Driver variables to the RHEL 8/9 consolidated build-publish files
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Add OOT GVNIC Driver variables to the RHEL 8/9 consolidated build-publish files (#2707)
  daisy_workflows/build-publish/enterprise_linux/rhel_8_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_consolidated.wf.json
Due: none

Updating CentOS 9 ARM to install Python 3.12 for gcloud
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_9_arm64.cfg
Due: none

Updating CentOS 9 ARM to install Python 3.12 for gcloud (#2709)
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_9_arm64.cfg
Due: none

Update rollback options to support deletion, deprecation, or obsoletion of image.
  gce_image_publish/main.go
  gce_image_publish/publish/publish.go
  gce_image_publish/publish/publish_test.go
Due: none

Deleting build files for the EOL RHEL 8.4 SAP images
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_byos_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_byos_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap_byos.publish.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_4_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_0_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_byos_arm64.wf.json
Due: none

Deleting build files for the EOL RHEL 8.4 SAP images (#2704)
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_byos_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_byos_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap_byos.publish.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_4_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_0_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_byos_arm64.wf.json
Due: none

Installing Python 3.12 for RHEL 9 Arm
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Installing Python 3.12 for RHEL 9 Arm (#2711)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Deleting the Beta & Unsigned RHEL images
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_beta.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_consolidated.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_gvnic_baremetal_unsigned.publish.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_2_beta.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_gvnic_baremetal_unsigned.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_gvnic_baremetal_unsigned_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_gvnic_baremetal_unsigned.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_gvnic_baremetal_unsigned_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

Update daisy_workflows/image_build/sqlserver/sql_install.ps1
  daisy_workflows/image_build/sqlserver/sql_install.ps1
Due: none

Update daisy_workflows/image_build/windows/bootstrap_install.ps1
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: prow/presubmit/sbom_windows
