Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/sbom:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /sh
      args:
  ...

prow/presubmit/sbom_windows:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /daisy
      args:
      - -project=compute-image-test-pool-001
  ...

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

Reverting Kickstart changes to existing behavior
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Revert missed kickstart package installation update
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_consolidated.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Adding one more kickstart revert for RHEL 9 consolidated kickstart
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_consolidated.cfg
Due: none

Updating dependencies
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Creating new RHEL 10.0 for SAP (BYOS) build-publish publish.json files
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_sap_byos.publish.json
Due: none

Creating new RHEL 10.0 for SAP (BYOS) build-publish publish.json files (#2635)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_sap_byos.publish.json
Due: none

Add SAP Capabilities to RHEL 10 Consolidated Kickstart
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
Due: none

Add SAP Capabilities to RHEL 10 Consolidated Kickstart (#2636)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
Due: none

Creating new image_build RHEL EUS LVM image workflow files
  daisy_workflows/image_build/enterprise_linux/rhel_10_0_eus_lvm.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_0_eus_lvm_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_6_eus_lvm.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_6_eus_lvm_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

Creating new build-publish publish workflow files for RHEL EUS LVM
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm_arm64.publish.json
Due: none

Creating new build-publish publish workflow files for RHEL EUS LVM (#2639)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm_arm64.publish.json
Due: none

Creating new image_build RHEL EUS LVM image workflow files (#2638)
  daisy_workflows/image_build/enterprise_linux/rhel_10_0_eus_lvm.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_0_eus_lvm_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_6_eus_lvm.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_6_eus_lvm_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

dependency update
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/imagefile/inspector_test.go
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/diagnostics/main_windows_test.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.sum
  proto/go/go.mod
  proto/go/go.sum
  proto/go/pbtesting/assert_matcher.go
  proto/go/pbtesting/gomock_matcher.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

dependency update (#2637)
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/imagefile/inspector_test.go
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/diagnostics/main_windows_test.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.sum
  proto/go/go.mod
  proto/go/go.sum
  proto/go/pbtesting/assert_matcher.go
  proto/go/pbtesting/gomock_matcher.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Adding in the SAP team's package into the RHEL 10 Consolidated Kickstart now that it's being signed by the new key
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
Due: none

Accidently mixed up ARM & X64 RHEL 9.6 EUS LVM build-publish publish json files
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm_arm64.publish.json
Due: none

Accidently mixed up ARM & X64 RHEL 9.6 EUS LVM build-publish publish json files (#2640)
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm_arm64.publish.json
Due: none

Adding in the SAP team's package into the RHEL 10 Consolidated Kickstart now that it's being signed by the new key (#2641)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_10_consolidated.cfg
Due: none

Fixing RHEL EUS LVM descriptions
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm_arm64.publish.json
Due: none

Fixing RHEL EUS LVM descriptions (#2642)
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_0_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_eus_lvm_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_6_eus_lvm_arm64.publish.json
Due: none

Workaround failing gcloud calls
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Shorten comment
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Convert the value of the environment variable to string
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Workaround failing gcloud calls (#2643)
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Start running RPM Rebuilt on RHEL 8.10 SAP HA
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Remove HA from the RPM rebuild image list
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Add RHEL 8.10 SAP to the RPM Rebuild list for package installation workflow. (#2645)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Remove setting ACLs since the bucket uses uniform permissions
  cli_tools_cloudbuild.yaml
Due: none

Remove setting ACLs since the bucket uses uniform permissions (#2647)
  cli_tools_cloudbuild.yaml
Due: none

Updating dependancies
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Update cli_tools_cloudbuild.yaml
  cli_tools_cloudbuild.yaml
Due: none

Updating dependancies (#2649)
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Adding instructions on how to update the write_image_build_workflow script & update the image_build workflow files
  daisy_workflows/image_build/enterprise_linux/README.md
Due: none

Adding instructions on how to update the write_image_build_workflow script & update the image_build workflow files (#2648)
  daisy_workflows/image_build/enterprise_linux/README.md
Due: none

Updating dependency
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Updating dependency (#2652)
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Add RHEL BYOS for 8, 9, and 10, along with EUS BYOS versions
  daisy_workflows/image_build/enterprise_linux/rhel_10_0_eus_lvm_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_0_eus_lvm_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_10_lvm_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_lvm_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_lvm_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_4_eus_lvm_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_6_eus_lvm_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_6_eus_lvm_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_lvm_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_lvm_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/write_image_build_workflow.py
Due: prow/presubmit/flake8

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
