Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/sbom:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /sh
      args:
  ...

prow/presubmit/sbom_windows:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /daisy
      args:
      - -project=compute-image-test-pool-001
  ...

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

For all images, make sure this script does not continue to execute after reboot
  daisy_workflows/image_build/install_package/cos/package_replacement/disable_readonly_rootfs.sh
Due: none

Create disable_auto_updates.sh: disables auto updates on running machine
  daisy_workflows/image_build/install_package/cos/package_replacement/disable_auto_updates.sh
Due: none

Add call to set machine type
  daisy_workflows/image_build/install_package/cos/replacepackage.sh
Due: none

comments
  daisy_workflows/image_build/install_package/cos/replacepackage.sh
Due: none

Update disable_readonly_rootfs.sh
  daisy_workflows/image_build/install_package/cos/package_replacement/disable_readonly_rootfs.sh
Due: none

Add back SVN_SNP_CAPABLE to debian 12
  daisy_workflows/build-publish/debian/debian_12.publish.json
Due: none

Add support for other COS milestones (+109, +105) and also ARM images (#2323)
  daisy_workflows/image_build/install_package/cos/install_package_cos.wf.json
  daisy_workflows/image_build/install_package/cos/package_replacement/compile_debian_package.sh
  daisy_workflows/image_build/install_package/cos/package_replacement/dev_cloudbuild.yaml
  daisy_workflows/image_build/install_package/cos/package_replacement/disable_auto_updates.sh
  daisy_workflows/image_build/install_package/cos/package_replacement/disable_readonly_rootfs.sh
  daisy_workflows/image_build/install_package/cos/replacepackage.sh
Due: none

Drop SEV_SNP_CAPABLE from centos-stream-9 images
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.publish.json
Due: none

Drop SEV_SNP_CAPABLE from centos-stream-9 images (#2325)
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.publish.json
Due: none

Fix Debian 12 DNS resolution issues per https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1064235
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: none

Fix Debian 12 DNS resolution issues per https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1064235 (#2326)
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: none

Copy sha txt file in daisy workflow
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Fix syntax
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Fix txt file path in workflo
  daisy_workflows/export/disk_export.wf.json
Due: none

Default outspath for sha256 txt file
  daisy_workflows/export/disk_export.wf.json
Due: none

Fix syntax in shell script
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

test text file log
  daisy_workflows/export/export_disk.sh
  daisy_workflows/sbom_validation/enterprise_sbom_test.wf.json
Due: prow/presubmit/sbom

Fix hash generation command
  daisy_workflows/export/export_disk.sh
  daisy_workflows/sbom_validation/enterprise_sbom_test.wf.json
Due: prow/presubmit/sbom

Change txt hash file name
  daisy_workflows/export/disk_export.wf.json
Due: none

push text output into file
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

copy empty txt
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Fix step dependencies
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: prow/presubmit/sbom, prow/presubmit/sbom_windows

windows sbom check
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: prow/presubmit/sbom_windows

Finish adding variable for windows workflows
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x86-bios.wf.json
  daisy_workflows/build-publish/windows/windows-10-22h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-10-22h2-ent-x86-bios.wf.json
  daisy_workflows/build-publish/windows/windows-10-next-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-22h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-23h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-24h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-preview-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2025-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2025-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2025-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2025-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-next-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Last text file
  daisy_workflows/build-publish/windows/windows-server-2012-r2-uefi.wf.json
Due: none

use local variable in bootshell script
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: prow/presubmit/sbom_windows

Update replacepackage.sh
  daisy_workflows/image_build/install_package/cos/replacepackage.sh
Due: none

Update dev_cloudbuild.yaml
  daisy_workflows/image_build/install_package/cos/package_replacement/dev_cloudbuild.yaml
Due: none

Update preload.sh
  daisy_workflows/image_build/install_package/cos/package_replacement/preload.sh
Due: none

Update compile_debian_package.sh
  daisy_workflows/image_build/install_package/cos/package_replacement/compile_debian_package.sh
Due: none

Update install_package_cos.wf.json
  daisy_workflows/image_build/install_package/cos/install_package_cos.wf.json
Due: none

copysha
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Add IDPF flags to Rocky Linux 8 images which will include IDPF.
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.publish.json
Due: none

Add IDPF flags to Rocky Linux 8 images which will include IDPF. (#2330)
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.publish.json
Due: none

Use new images after EOL
  daisy_workflows/sbom_validation/enterprise_sbom_test.wf.json
Due: none

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
