Repository GoogleCloudPlatform/compute-daisy: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-cli, prow/presubmit/gobuild/daisy-cli, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute, prow/presubmit/gotest/daisy-testrunner, prow/presubmit/gobuild/daisy-testrunner

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - .

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - .

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - .

prow/presubmit/gotest/daisy-cli:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - ./cli

prow/presubmit/gobuild/daisy-cli:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - ./cli

prow/presubmit/gotest/daisy-compute:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - ./compute

prow/presubmit/gobuild/daisy-compute:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - ./compute

prow/presubmit/gotest/daisy-testrunner:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - ./daisy_test_runner

prow/presubmit/gobuild/daisy-testrunner:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - ./daisy_test_runner

Break tests
  compute/test_client_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Break more tests
  cli/main_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-cli, prow/presubmit/gobuild/daisy-cli

No public description
  OWNERS
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Break even more tests
  common_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Fix dockerfile builds
  Dockerfile
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

No public description
  common_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Revert go module changes
  Dockerfile
  cli/go.mod
  cli/go.sum
  compute/go.mod
  compute/go.sum
  daisy_test_runner/go.mod
  daisy_test_runner/go.sum
  go.mod
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-cli, prow/presubmit/gobuild/daisy-cli, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute, prow/presubmit/gotest/daisy-testrunner, prow/presubmit/gobuild/daisy-testrunner

No public description
  common_test.go
  compute/compute_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Add daisy compute client functions for manipulating some network resources
  compute/compute.go
  compute/compute_test.go
  compute/test_client.go
  compute/test_client_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

No public description
  compute/compute.go
  compute/test_client.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Remove broken link to `image-import.md`
  docs/index.md
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Fix region extraction from zone
  common.go
  step_create_forwarding_rule_test.go
  step_create_target_instance_test.go
  test_common_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Adds support for TDX tests
  compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Add support for computeBeta API in cloud_image_tests.
  compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Includes a new method called GetImageFromFamilyBeta.
  compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Use the provided endpoint in calls from tests
  compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Add CreateSnapshotWithGuestFlush and SimulateMaintenanceEvent to daisy compute client
  compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Add `SetMachineType` functionality to `daisy` for CIT.
  compute/compute.go
  compute/test_client.go
  docs/daisy-workflow-config-spec.md
  machinetype.go
  step.go
  step_set_machine_type.go
  step_set_machine_type_test.go
  workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Add `SetMachineType` functionality to `cloud_image_tests`.
  compute/compute.go
  compute/test_client.go
  docs/daisy-workflow-config-spec.md
  machinetype.go
  step.go
  step_set_machine_type.go
  step_set_machine_type_test.go
  workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Update daisy-installation-usage.md for cli installation.
  docs/daisy-installation-usage.md
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

No public description
  compute/compute.go
  step.go
  step_wait_for_instances_signal.go
  workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Add the `skip_caching_images` flag to daisy.
  cli/main.go
  cli/main_test.go
  image.go
  workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-cli, prow/presubmit/gobuild/daisy-cli

Update image used in integration tests
  daisy_integration_tests/can_retrieve_sources.wf.json
  daisy_integration_tests/scripts/run_daisy_and_check_logs.sh
  daisy_integration_tests/step_attach_disks.wf.json
  daisy_integration_tests/step_copy_gcs_object.wf.json
  daisy_integration_tests/step_create_disks.wf.json
  daisy_integration_tests/step_create_instances.wf.json
  daisy_integration_tests/step_create_machine_images.wf.json
  daisy_integration_tests/step_create_networks.wf.json
  daisy_integration_tests/step_create_snapshots.wf.json
  daisy_integration_tests/step_detach_disks.wf.json
  daisy_integration_tests/step_wait_for_instance_signal.wf.json
  daisy_integration_tests/validate_cloud_logging.wf.json
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Add IPv6 support to CIT
  instance.go
  instance_test.go
  subnetwork.go
  subnetwork_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Add IPv6 support to daisy.
  instance.go
  instance_test.go
  subnetwork.go
  subnetwork_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Introduce nicsetup test suite.
  instance.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Don't add access configs to an IPv6 network interface that's internal-only.
  instance.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Add support to daisy for routes and zonal network endpoint groups.
  compute/compute.go
  compute/compute_test.go
  compute/test_client.go
  sources.go
  step_attach_disk_test.go
  step_includeworkflow.go
  step_wait_for_instances_signal.go
  step_wait_for_quota.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

chore: Migrate gsutil usage to gcloud storage
  daisy_integration_tests/scripts/run_daisy_and_check_logs.sh
  daisy_integration_tests/step_copy_gcs_object.wf.json
  docs/daisy-passing-data.md
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Copybara import of the project:
  daisy_integration_tests/scripts/run_daisy_and_check_logs.sh
  daisy_integration_tests/step_copy_gcs_object.wf.json
  docs/daisy-passing-data.md
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Add `compute.managed.vmExternalIpAccess` constraint to `isExternalIPDeniedByOrganizationPolicy` check.
  step_create_instances.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Updating Packages
  go.mod
  go.sum
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Copybara import of the project:
  go.mod
  go.sum
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Update daisy_test_runner.Dockerfile
  daisy_test_runner.Dockerfile
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Copybara import of the project:
  daisy_test_runner.Dockerfile
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Update Go version and dependencies in daisy
  go.mod
  go.sum
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

No public description
  instance.go
  instance_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Prevent path traversal when copying GCS objects in Daisy.
  sources.go
  sources_test.go
  step_copy_gcs_objects.go
  step_copy_gcs_objects_test.go
  storage.go
  storage_test.go
  test_common_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Add DEPROVISIONING to active VM statuses in Daisy
  compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gotest/daisy-compute, prow/presubmit/gobuild/daisy-compute

Path conditions:
  prow/presubmit/gocheck/daisy: any of: .*
  prow/presubmit/gotest/daisy: any of: .*
  prow/presubmit/gobuild/daisy: any of: .*
  prow/presubmit/gotest/daisy-cli: any of: cli/.*
  prow/presubmit/gobuild/daisy-cli: any of: cli/.*
  prow/presubmit/gotest/daisy-compute: any of: compute/.*
  prow/presubmit/gobuild/daisy-compute: any of: compute/.*
  prow/presubmit/gotest/daisy-testrunner: any of: daisy_test_runner/.*
  prow/presubmit/gobuild/daisy-testrunner: any of: daisy_test_runner/.*
