Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Add missing rhel_release variable. (#2237)
  daisy_workflows/image_build/enterprise_linux/rhel_8_2_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_4_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_8_sap_byos.wf.json
Due: none

Adding the appropriate GuestOsFeatures for Windows builds so the new installation disk has the correct set of features.
  daisy_workflows/image_build/windows/windows-build-bios.wf.json
  daisy_workflows/image_build/windows/windows-build-uefi.wf.json
Due: none

Adding the appropriate GuestOsFeatures for Windows builds so the new installation disk has the correct set of features. (#2238)
  daisy_workflows/image_build/windows/windows-build-bios.wf.json
  daisy_workflows/image_build/windows/windows-build-uefi.wf.json
Due: none

Update owners.
  OWNERS
Due: none

Update owners. (#2239)
  OWNERS
Due: none

RHEL BYOS change to include RHUI and subscription manager.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos_arm64.cfg
Due: none

RHEL BYOS change to include RHUI and subscription manager. (#2240)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos_arm64.cfg
Due: none

Remove subscription manager in RHEL 9.x for SAP images.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
Due: none

Remove subscription manager in RHEL 9.x for SAP images. (#2241)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
Due: none

Use /kaniko as a build dir
  gce_windows_upgrade_tests.Dockerfile
Due: none

Use /kaniko as a build dir for windows upgrade image (#2242)
  gce_windows_upgrade_tests.Dockerfile
Due: none

Disable CVS stamping of binaries Kaniko is not handling this well. The commit hash will still be preserved as a tag when we push the image through concourse
  gce_windows_upgrade_tests.Dockerfile
Due: none

Bump go 1.13 -> 1.21 in cli_tools and cli_tools_tests, gofmt
  cli_tools/common/domain/interfaces.go
  cli_tools/common/mount/inspector.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/workflow_hook_no_external_ip.go
  cli_tools/common/utils/daisyutils/workflow_hook_resource_labeler.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/param/network_resolver.go
  cli_tools/common/utils/test/test_utils.go
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_bucket_iterator.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/runtime/config.go
  proto/go/pb/inspect.pb.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add export comments
  proto/go/pbtesting/gomock_matcher.go
Due: none

Add missing stdout rescues to storage writer test
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

gofmt
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update deps: go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc github.com/sigstore/cosign/v2
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Initialize empty storage client in storage client tests
  cli_tools/common/utils/storage/storage_client_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

don't delete license headers
  cli_tools/common/mount/mock_mount_inspector.go
  cli_tools/mocks/mock_shell_exececutor.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update golang and deps for cli_tools (#2244)
  cli_tools/common/disk/mocks/mock_inspect.go
  cli_tools/common/domain/interfaces.go
  cli_tools/common/mount/inspector.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/workflow_hook_no_external_ip.go
  cli_tools/common/utils/daisyutils/workflow_hook_resource_labeler.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/param/network_resolver.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/common/utils/test/test_utils.go
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_bucket_iterator.go
  cli_tools/mocks/mock_logger.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/runtime/config.go
  proto/go/pb/inspect.pb.go
  proto/go/pbtesting/gomock_matcher.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update rdp_status.ps1
  cli_tools/diagnostics/rdp_status.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

google-cloud-cli -> google-cloud-sdk in rhel sap byos images
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap_byos.cfg
Due: none

google-cloud-sdk -> google-cloud-cli in EL images
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_7.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_7_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_9_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_1_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp_arm64.cfg
  daisy_workflows/kernel_commit_query/suse.sh
Due: none

google-cloud-sdk -> google-cloud-cli in EL images (#2247)
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_7.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_7_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_9_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_1_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp_arm64.cfg
  daisy_workflows/kernel_commit_query/suse.sh
Due: none

Add GVNIC to client builds. Add Win11 22h2/23h2
  daisy_workflows/build-publish/windows/windows-11-22h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-22h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-23h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-23h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-10-next-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-21h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-22h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-23h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-next-ent-x64-uefi.wf.json
Due: none

Tag images that contain kernel commit 43955a1a2 with SEV_LIVE_MIGRATABLE_V2
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.publish.json
  daisy_workflows/image_build/enterprise_linux/rhel_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9.wf.json
Due: none

Tag images that contain kernel commit 43955a1a2 with SEV_LIVE_MIGRATABLE_V2 (#2250)
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.publish.json
  daisy_workflows/image_build/enterprise_linux/rhel_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9.wf.json
Due: none

Updating Windows Workflows
  daisy_workflows/build-publish/windows/windows-11-22h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-22h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-23h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-23h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-preview-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-preview-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-next-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-next-dc-uefi.wf.json
  daisy_workflows/image_build/windows/windows-10-next-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-preview-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-preview-dc-uefi-payg.wf.json
Due: none

Updating Windows Workflows (#2251)
  daisy_workflows/build-publish/windows/windows-11-22h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-22h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-23h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-23h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-preview-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-preview-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-10-22h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-21h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-22h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-23h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-preview-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-preview-dc-uefi-payg.wf.json
Due: none

Add an image build workflow for centos 7 with predictable NIC names
  daisy_workflows/image_build/enterprise_linux/centos_7_predictable_nic.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_7_predictable_nic.cfg
Due: none

Add an image build workflow for centos 7 with predictable NIC names (#2252)
  daisy_workflows/image_build/enterprise_linux/centos_7_predictable_nic.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_7_predictable_nic.cfg
Due: none

Add image publish workflow
  daisy_workflows/build-publish/enterprise_linux/centos_7_predictable_nic.wf.json
Due: none

Correct workflow file
  daisy_workflows/build-publish/enterprise_linux/centos_7_predictable_nic.wf.json
Due: none

Add centos__predictable_nic publish template
  daisy_workflows/build-publish/enterprise_linux/centos_7_predictable_nic.publish.json
Due: none

Add image publish workflow for centos-7-predictable-nic (#2253)
  daisy_workflows/build-publish/enterprise_linux/centos_7_predictable_nic.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7_predictable_nic.wf.json
Due: none

Migrating all netsh commands to PowerShell for win10/2016 and above
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

Fix centos-7-predictable-nic publish template name
  daisy_workflows/build-publish/enterprise_linux/centos_7_predictable_nic.publish.json
Due: none

Fix centos-7-predictable-nic publish template family/prefix
  daisy_workflows/build-publish/enterprise_linux/centos_7_predictable_nic.publish.json
Due: none

Fix centos-7-predictable-nic publish template name (#2255)
  daisy_workflows/build-publish/enterprise_linux/centos_7_predictable_nic.publish.json
Due: none

Migrating all netsh commands to PowerShell for win10/2016 and above (#2254)
  daisy_workflows/image_build/windows/post_install.ps1
Due: none
