Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/sbom:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /sh
      args:
  ...

prow/presubmit/sbom_windows:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /daisy
      args:
      - -project=compute-image-test-pool-001
  ...

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

Append disk name in enterprise linux build_installer.py instead of overwriting
  daisy_workflows/image_build/enterprise_linux/build_installer.py
Due: prow/presubmit/flake8

Update owners. (#2219)
  OWNERS
Due: none

Use persistent disk naming symlinks to reference disks in EL builds, including nvme devices
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_7.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos_stream_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_7_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_9_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_1_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp_arm64.cfg
Due: prow/presubmit/flake8

comply with pycodestyle
  daisy_workflows/image_build/enterprise_linux/build_installer.py
Due: prow/presubmit/flake8

Add whitespace after function definition in build_installer.py
  daisy_workflows/image_build/enterprise_linux/build_installer.py
Due: prow/presubmit/flake8

Remove install_disk var from enterprise linux workflows
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

Remove install_disk var from enterprise linux workflows (#2221)
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

Update source disk for enterprise build-publish workflows
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

Update source disk for enterprise build-publish workflows (#2222)
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

Remove reference to acrate-dev-build bucket
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
Due: none

Remove reference to acrate-dev-build bucket (#2223)
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
Due: none

Creating workflows for next version testing
  daisy_workflows/build-publish/windows/windows-10-next-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-10-next-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-next-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-next-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-next-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-next-dc-uefi.wf.json
  daisy_workflows/image_build/windows/windows-10-next-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-next-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-next-dc-uefi-payg.wf.json
Due: none

Reference installer disk by id in rhel kickstart config
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_7_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_9_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_1_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos.cfg
Due: none

Reference installer disk by id in rhel kickstart config (#2225)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_7_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_9_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_7_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_1_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos.cfg
Due: none

Creating workflows for next version testing (#2224)
  daisy_workflows/build-publish/windows/windows-10-next-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-10-next-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-11-next-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-next-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-next-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-next-dc-uefi.wf.json
  daisy_workflows/image_build/windows/windows-10-next-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-11-next-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-next-dc-uefi-payg.wf.json
Due: none

Enable secure boot on debian-12 arm
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: none

Enable secure boot on debian-12 arm (#2226)
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: none

fix: occurred typo
  cli_tools/diagnostics/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add workflows for MBR Windows Server builds
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-bios-byol.wf.json
Due: none

install-package: skip dependency resolver
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

install-package: skip dependency resolver (#2229)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Add renovate.json
  renovate.json
Due: none

Don't install shim-signed on debian arm versions that don't support secure boot
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: prow/presubmit/flake8

Don't install shim-signed on debian arm versions that don't support secure boot (#2231)
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: prow/presubmit/flake8

Update MBR build workflow publish constraints
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-bios.publish.json
Due: none

package install: use dpkg for debian rather than apt-get
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

package install: use dpkg for debian rather than apt-get (#2232)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Remove core builds from MBR workflows
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-bios-byol.wf.json
Due: none

Swap byol for payg license in mbr builds
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-bios.wf.json
Due: none

Add workflows for MBR Windows Server builds (#2228)
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-bios.wf.json
Due: none

Use BIOS for naming instead of MBR
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.publish.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-bios.wf.json
Due: none

Use BIOS for naming instead of MBR (#2234)
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-bios.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-bios.publish.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-bios.wf.json
Due: none

Update Debian built to https://salsa.debian.org/cloud-team/debian-cloud-images/-/tree/732707480b4c6a5174066a9d4d5a7b0c05ab0fb1
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

Update Debian built to https://salsa.debian.org/cloud-team/debian-cloud-images/-/tree/732707480b4c6a5174066a9d4d5a7b0c05ab0fb1 (#2235)
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

RHEL for SAP BYOS, RHEL 9 BYOS arm64.
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_8_2_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_4_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_8_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_0_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_2_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_byos_arm64.wf.json
Due: none

fixes
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_byos_arm64.wf.json
Due: none

RHEL for SAP BYOS and RHEL 9 BYOS arm64. (#2236)
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_4_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_8_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_0_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_2_sap_byos.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_8_2_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_4_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_8_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_0_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_2_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_9_byos_arm64.wf.json
Due: none

Add missing rhel_release variable.
  daisy_workflows/image_build/enterprise_linux/rhel_8_2_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_4_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_8_sap_byos.wf.json
Due: none

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
