Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/sbom:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /daisy
      args:
      - -project=compute-image-test-pool-001
      - -var:syft_source=gs://gce-image-build-resources/linux/syft_0.59.0_linux_amd64.tar.gz
  ...

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

Use chrony for ntp (as before).
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

remove unnecessary echo
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

remove unnecessary echo (#2150)
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

sbom: add required code to generate sboms for windows
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: none

Use chrony for ntp (as before). (#2149)
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

Remove syft sbom generation mode, deprecated
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Fix syntax on finish block
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

Remove syft sbom generation mode, deprecated (#2152)
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
Due: prow/presubmit/sbom

sbom: add required code to generate sboms for windows (#2151)
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: none

Remove syft source from build publish workflos
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
  daisy_workflows/build-publish/debian/debian_12.wf.json
  daisy_workflows/build-publish/debian/debian_12_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
  daisy_workflows/export/disk_export.wf.json
Due: none

Change readme for sbom test
  daisy_workflows/sbom_validation/README.md
Due: none

Remove syft source from build publish workflows (#2153)
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
  daisy_workflows/build-publish/debian/debian_12.wf.json
  daisy_workflows/build-publish/debian/debian_12_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_8_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_0_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/sbom_validation/README.md
Due: none

Re-factor our hostname configuration for upstream.
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/files/etc/hostname/BOOKWORM
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/scripts/BOOKWORM/10-clean
  daisy_workflows/image_build/debian/fai_config/scripts/GCE_CLEAN/10-gce-clean
Due: prow/presubmit/flake8

Fix for missing DNS search domains.
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/files/etc/netplan/90-default.yaml/BOOKWORM
Due: prow/presubmit/flake8

Debian build fixes for Bookworm (#2155)
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/files/etc/hostname/BOOKWORM
  daisy_workflows/image_build/debian/fai_config/files/etc/netplan/90-default.yaml/BOOKWORM
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/scripts/BOOKWORM/10-clean
  daisy_workflows/image_build/debian/fai_config/scripts/GCE_CLEAN/10-gce-clean
Due: prow/presubmit/flake8

Make the bookworm cleanup script executable.
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

Make the bookworm cleanup script executable. (#2156)
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

Include dhclient in the Debian builds.
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: none

Include dhclient in the Debian builds. (#2157)
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
Due: none

Add skeleton variables for sbom generation on windows export
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

windows export sbom destination default location
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Add uefi wf sbom
  daisy_workflows/build-publish/windows/windows-server-2022-uefi.wf.json
Due: none

Add skeleton variables for sbom generation on windows export (#2158)
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Add SEV_CAPABLE to Debian 11.
  daisy_workflows/build-publish/debian/debian_11.publish.json
Due: none

Add SEV_CAPABLE to Debian 11. (#2160)
  daisy_workflows/build-publish/debian/debian_11.publish.json
Due: none

Remove unnecessary variable from presubmit
  daisy_workflows/sbom_validation/enterprise_sbom_test.wf.json
Due: none

Remove unnecessary variable from presubmit (#2162)
  daisy_workflows/sbom_validation/enterprise_sbom_test.wf.json
Due: none

Do not run windows sbom generation on the linux worker
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

add windows sbom gen on ps1 uefi script
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2.wf.json
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-enterprise-windows-2012-r2.wf.json
  daisy_workflows/image_build/sqlserver/sqlserver.wf.json
  daisy_workflows/image_build/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-build-uefi.wf.json
Due: none

add windows sbom gen on ps1 uefi script (#2164)
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2.wf.json
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-enterprise-windows-2012-r2.wf.json
  daisy_workflows/image_build/sqlserver/sqlserver.wf.json
  daisy_workflows/image_build/windows/windows-10-21h2-ent-x64-uefi.wf.json
  daisy_workflows/image_build/windows/windows-build-uefi.wf.json
Due: none

Fix gspath
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: none

Fix gspath (#2165)
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: none

Remove backslash on windows path
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: none

revert to select from select-object
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: none

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
