Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/sbom, prow/presubmit/sbom_windows, prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/sbom:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /sh
      args:
  ...

prow/presubmit/sbom_windows:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-tools/daisy:latest
      imagePullPolicy: Always
      command:
      - /daisy
      args:
      - -project=compute-image-test-pool-001
  ...

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

Update daisy_workflows/image_build/sqlserver/sql_install.ps1
  daisy_workflows/image_build/sqlserver/sql_install.ps1
Due: none

Update daisy_workflows/image_build/windows/bootstrap_install.ps1
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: prow/presubmit/sbom_windows

Update bootstrap_install.ps1
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: prow/presubmit/sbom_windows

Adding back deleted the RHEL 9.4 SAP publish files
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap_byos.publish.json‎
Due: none

Adding back deleted the RHEL 9.4 SAP publish files (#2714)
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap_byos.publish.json‎
Due: none

Sync latest Piper updates back to GitHub before registering the Copybara service
  .gitignore
  cleanerupper_container/main.go
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/common/utils/daisyutils/test_data/dummy_gcp_creds.json
  cli_tools/mocks/mock_bucket_iterator.go
  cli_tools/mocks/mock_bucket_iterator_creator.go
  cli_tools/mocks/mock_compute_service.go
  cli_tools/mocks/mock_http_client.go
  cli_tools/mocks/mock_metadata_gce.go
  cli_tools/mocks/mock_object_iterator.go
  cli_tools/mocks/mock_object_iterator_creator.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
  cli_tools/mocks/mock_tar_gcs_extractor.go
  cli_tools/mocks/mock_zone_validator.go
  gce_windows_upgrade/upgrader/validators_test.go
  proto/output_info.proto
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Sync latest Piper updates back to GitHub before registering the Copybara service (#2713)
  .gitignore
  cleanerupper_container/main.go
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/common/utils/daisyutils/test_data/dummy_gcp_creds.json
  cli_tools/mocks/mock_bucket_iterator.go
  cli_tools/mocks/mock_bucket_iterator_creator.go
  cli_tools/mocks/mock_compute_service.go
  cli_tools/mocks/mock_http_client.go
  cli_tools/mocks/mock_metadata_gce.go
  cli_tools/mocks/mock_object_iterator.go
  cli_tools/mocks/mock_object_iterator_creator.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
  cli_tools/mocks/mock_tar_gcs_extractor.go
  cli_tools/mocks/mock_zone_validator.go
  gce_windows_upgrade/upgrader/validators_test.go
  proto/output_info.proto
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fixing RHEL 9.4 SAP BYOS publish file type
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap_byos.publish.json
Due: none

Fixing RHEL 9.4 SAP BYOS publish file type (#2715)
  daisy_workflows/build-publish/enterprise_linux/rhel_9_4_sap_byos.publish.json
Due: none

Remove python3-requests on Debian 13 worker images
  daisy_workflows/image_build/debian/debian_worker.sh
Due: none

Change '==' to '-eq'
  daisy_workflows/image_build/debian/debian_worker.sh
Due: none

Remove python3-requests on Debian 13 worker images (#2716)
  daisy_workflows/image_build/debian/debian_worker.sh
Due: none

Bootstrap Copybara
  README.md
Due: none

Bootstrap Copybara (#2717)
  README.md
Due: none

No public description
  README.md
Due: none

remove test comment in README.md
  README.md
Due: none

Testing the import PR with the CC team
  README.md
Due: none

No public description
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_12.publish.json
  daisy_workflows/build-publish/debian/debian_12_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_13.publish.json
  daisy_workflows/build-publish/debian/debian_13_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_10.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_10_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9_arm64.publish.json
Due: none

verify automatic assignment of two reviewers
  README.md
Due: none

verify auto assignment of two reviewers
  README.md
Due: none

test auto assign reviewers
  README.md
Due: none

Add metadata attribute validation in build_fai.py
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

Add continue flags to the Configure-Network steps
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

Formatting fixes
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

Break after finding the first valid install media drive
  gce_windows_upgrade/upgrade_script.ps1
Due: none

Use 0600 permissions for staging chunk files
  cli_tools/common/utils/storage/buffered_writer.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update rollback logic to deprecate images instead of delete.
  gce_image_publish/main.go
  gce_image_publish/publish/publish.go
  gce_image_publish/publish/publish_test.go
Due: none

Update RHEL 10.2 EUS GVNIC Description for GCP to parse the image name correctly
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_gvnic_baremetal_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_10_2_eus_lvm_gvnic_baremetal_byos.publish.json
Due: none

No public description
  gce_image_publish/go.mod
  gce_image_publish/go.sum
Due: none

Update go.mod dependencies
  gce_windows_upgrade/go.mod
  gce_windows_upgrade/go.sum
Due: none

Update Go module dependencies in gce_export
  gce_export/go.mod
  gce_export/go.sum
Due: none

Update golang.org/x dependencies in cleanerupper_container according to PR#2730
  cleanerupper_container/go.mod
  cleanerupper_container/go.sum
Due: none

Windows SQL Server 2016 images are being obsoleted July 14, 2026. I am deleting the image build files since we will no longer be building these images.
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019.wf.json
Due: none

Updating Centos Arm image_build wf.json files to have the right disk_type. Arm images should be using Hyperdisk instead of Persistant Disk.
  cli_tools/go.mod
  cli_tools/go.sum
  daisy_workflows/image_build/enterprise_linux/centos_stream_10_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_9_arm64.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Updating machine type for Centos Arm image_build wf.json files to support the Hyperdisk-Balanced machine type
  daisy_workflows/image_build/enterprise_linux/centos_stream_10_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_9_arm64.wf.json
Due: none

Changing Centos Arm machine type & disk shape back due to Concourse build failures
  daisy_workflows/image_build/enterprise_linux/centos_stream_10_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_9_arm64.wf.json
Due: none

Adding sleeps to the bcdboot command to allow it to complete.
  daisy_workflows/image_build/windows/bootstrap_install.ps1
Due: prow/presubmit/sbom_windows

Path conditions:
  prow/presubmit/sbom: any of: daisy_workflows/export/export_disk.sh
  prow/presubmit/sbom_windows: any of: daisy_workflows/image_build/windows/bootstrap_install.ps1
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
