Repository GoogleContainerTools/kpt-config-sync: changes, and which Prow jobs are due for each by the changed paths.
All: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

Path conditions:
  kpt-config-sync-presubmit-e2e-mono-repo-test-group1: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-mono-repo-test-group2: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-mono-repo-test-group3: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo-test-group1: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo-test-group2: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo-test-group3: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-terraform-presubmit: any of: ^e2e/testinfra/terraform/

test: annotate git-server as not safe to evict (#1073)
  e2e/nomostest/git-server.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

feat: add managed-by label for manager (#1056)
  pkg/metadata/labels.go
  pkg/reconcilermanager/controllers/reconciler_base.go
  pkg/reconcilermanager/controllers/reposync_controller_test.go
  pkg/reconcilermanager/controllers/rootsync_controller_test.go
  pkg/reconcilermanager/controllers/secret_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: Add timestamp for test logs (#1058)
  e2e/nomostest/testing/wrapper.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Add unit test scenario for APIVERSION (#1071)
  pkg/vet/api_resources_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

chore: Validate RSync reconciliation status (#1068)
  pkg/kinds/resources.go
  pkg/reconcilermanager/controllers/reposync_controller_manager_test.go
  pkg/reconcilermanager/controllers/rootsync_controller_manager_test.go
  pkg/syncer/syncertest/fake/dynamic_client.go
  pkg/util/watch/until.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Remove #kpt channel from communication (#1074)
  README.md
Due: none

ci: add test runner iam to terraform config (#1072)
  .gitignore
  e2e/testinfra/terraform/prow/service_accounts.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

chore: Make fake client more like the real client (#1069)
  pkg/reconcilermanager/controllers/otel_controller_test.go
  pkg/reconcilermanager/controllers/reconciler_base.go
  pkg/reconcilermanager/controllers/reposync_controller_test.go
  pkg/reconcilermanager/controllers/rootsync_controller_test.go
  pkg/syncer/syncertest/fake/dynamic_client.go
  pkg/syncer/syncertest/fake/minimize.go
  pkg/syncer/syncertest/fake/minimize_test.go
  pkg/syncer/syncertest/fake/storage.go
  pkg/syncer/syncertest/fake/subresource_storage.go
  pkg/util/mutate/mutate_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

feat: add CA cert support for oci-sync (#1104)
  e2e/flags.go
  e2e/nomostest/git-server.go
  e2e/nomostest/gitproviders/repository.go
  e2e/nomostest/new.go
  e2e/nomostest/nt.go
  e2e/nomostest/ntopts/multi_repo.go
  e2e/nomostest/registry_server.go
  e2e/nomostest/registryproviders/image.go
  e2e/nomostest/registryproviders/local.go
  e2e/nomostest/registryproviders/registry_provider.go
  e2e/nomostest/reset.go
  e2e/nomostest/ssh.go
  e2e/testcases/private_cert_secret_test.go
  manifests/reposync-crd.yaml
  manifests/rootsync-crd.yaml
  pkg/api/configsync/v1alpha1/gitconfig.go
  pkg/api/configsync/v1alpha1/ociconfig.go
  pkg/api/configsync/v1alpha1/zz_generated.deepcopy.go
  pkg/api/configsync/v1beta1/gitconfig.go
  pkg/api/configsync/v1beta1/ociconfig.go
  pkg/api/configsync/v1beta1/zz_generated.deepcopy.go
  pkg/reconcilermanager/constants.go
  pkg/reconcilermanager/controllers/reposync_controller.go
  pkg/reconcilermanager/controllers/reposync_controller_test.go
  pkg/reconcilermanager/controllers/rootsync_controller.go
  pkg/reconcilermanager/controllers/rootsync_controller_test.go
  pkg/reconcilermanager/controllers/secret.go
  pkg/reconcilermanager/controllers/util.go
  pkg/reconcilermanager/controllers/util_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

fix: update the incorrect error messages (#1114)
  pkg/validate/raw/validate/source_spec_validator.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Fix sample dashboard metric resource type (#1112)
  dashboard/cloud_monitoring_dashboard.json
Due: none

feat: add CA cert support for helm-sync (#1111)
  cmd/helm-sync/main.go
  e2e/flags.go
  e2e/nomostest/new.go
  e2e/nomostest/nt.go
  e2e/nomostest/ntopts/multi_repo.go
  e2e/nomostest/registry_server.go
  e2e/nomostest/registryproviders/helm.go
  e2e/nomostest/registryproviders/local.go
  e2e/nomostest/registryproviders/registry_provider.go
  e2e/testcases/private_cert_secret_test.go
  manifests/reposync-crd.yaml
  manifests/rootsync-crd.yaml
  pkg/api/configsync/v1alpha1/helmconfig.go
  pkg/api/configsync/v1beta1/helmconfig.go
  pkg/helm/helm.go
  pkg/reconcilermanager/constants.go
  pkg/reconcilermanager/controllers/reposync_controller.go
  pkg/reconcilermanager/controllers/reposync_controller_test.go
  pkg/reconcilermanager/controllers/rootsync_controller.go
  pkg/reconcilermanager/controllers/rootsync_controller_test.go
  pkg/reconcilermanager/controllers/secret.go
  pkg/reconcilermanager/controllers/util.go
  pkg/reconcilermanager/controllers/util_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: address edge cases for e2e secret rotation (#1078)
  e2e/testcases/helm_sync_test.go
  e2e/testinfra/terraform/prow/service_accounts.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

fix: use project_id for GSA email (#1080)
  e2e/testinfra/terraform/prow/service_accounts.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

refactor: rename test opt to RequireLocalGitProvider (#1109)
  e2e/nomostest/new.go
  e2e/nomostest/ntopts/multi_repo.go
  e2e/testcases/private_cert_secret_test.go
  e2e/testcases/ssh_known_hosts_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

chore: bump debian base image for security patches (#1118)
  Makefile
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: move the fake test finalizer removal function into a cleanup block (#1106)
  e2e/testcases/reconciler_finalizer_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

ci: set CGO_ENABLED=0 for local crane binary (#1107)
  Makefile
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

fix: enable user output for version list (#1084)
  e2e/testcases/helm_sync_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Add the HierarchyConfig CRD into the OSS CS manifest (#1090)
  manifests/base/kustomization.yaml
  manifests/operator/kustomization.yaml
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: auto-rotate service account key & secret (#1077)
  e2e/nomostest/artifactregistry/image.go
  e2e/testcases/helm_sync_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

refactor: group all WI-related testcases into a single test file (#1115)
  e2e/nomostest/artifactregistry/image.go
  e2e/nomostest/kustomizecomponents/validate.go
  e2e/nomostest/nt.go
  e2e/nomostest/testpredicates/predicates.go
  e2e/nomostest/testutils/finalizer.go
  e2e/nomostest/testutils/fleet_membership.go
  e2e/nomostest/wait_for_sync.go
  e2e/testcases/csr_auth_test.go
  e2e/testcases/helm_sync_test.go
  e2e/testcases/hydration_test.go
  e2e/testcases/oci_sync_test.go
  e2e/testcases/private_cert_secret_test.go
  e2e/testcases/stress_test.go
  e2e/testcases/workload_identity_test.go
  pkg/reconcilermanager/controllers/reconciler_base.go
  pkg/reconcilermanager/controllers/reposync_controller.go
  pkg/reconcilermanager/controllers/rootsync_controller.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

fix: Add 5m buffer time to askpass (#1091)
  pkg/askpass/askpass.go
  pkg/askpass/askpass_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

chore: bump git-sync to latest patch (#1119)
  manifests/templates/reconciler-manager-configmap.yaml
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: fix test failures caused by sub tests running in parallel (#1120)
  e2e/nomostest/client.go
  e2e/testcases/workload_identity_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

feature: add BYOID support for OCI artifacts and Helm charts (#1121)
  cmd/helm-sync/main.go
  cmd/oci-sync/main.go
  e2e/nomostest/nt.go
  e2e/nomostest/testing/env.go
  e2e/nomostest/testutils/fleet_membership.go
  e2e/testcases/csr_auth_test.go
  e2e/testcases/kcc_test.go
  e2e/testcases/oci_sync_test.go
  e2e/testcases/workload_identity_test.go
  manifests/reposync-crd.yaml
  manifests/rootsync-crd.yaml
  pkg/api/configsync/register.go
  pkg/api/configsync/v1alpha1/helmconfig.go
  pkg/api/configsync/v1alpha1/ociconfig.go
  pkg/api/configsync/v1alpha1/zz_generated.deepcopy.go
  pkg/api/configsync/v1beta1/helmconfig.go
  pkg/api/configsync/v1beta1/ociconfig.go
  pkg/api/configsync/v1beta1/zz_generated.deepcopy.go
  pkg/helm/helm.go
  pkg/reconcilermanager/controllers/reconciler_base.go
  pkg/reconcilermanager/controllers/reposync_controller.go
  pkg/reconcilermanager/controllers/reposync_controller_test.go
  pkg/reconcilermanager/controllers/rootsync_controller.go
  pkg/reconcilermanager/controllers/rootsync_controller_test.go
  pkg/reconcilermanager/controllers/secret.go
  pkg/reconcilermanager/controllers/util.go
  pkg/validate/raw/validate/source_spec_validator.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

chore: bump git-sync and debian-base images (#1125)
  Makefile
  manifests/templates/reconciler-manager-configmap.yaml
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Aggregate kustomize metrics labels (#1117)
  e2e/testcases/otel_collector_test.go
  e2e/testdata/otel-collector/otel-cm-kustomize-rejected-labels.yaml
  pkg/metrics/otel.go
  pkg/reconcilermanager/controllers/otel_controller_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Add required IAM settings for the test infra
  e2e/testinfra/terraform/common/service_accounts.tf
  e2e/testinfra/terraform/prow/service_accounts.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

Add required IAM settings for the test infra (#1127)
  e2e/testinfra/terraform/common/service_accounts.tf
  e2e/testinfra/terraform/prow/service_accounts.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

test: refactor oci/helm tests for registryproviders
  Makefile.oss.prow
  build/prow/e2e/Dockerfile
  e2e/flags.go
  e2e/nomostest/artifactregistry/crane.go
  e2e/nomostest/artifactregistry/helm.go
  e2e/nomostest/artifactregistry/image.go
  e2e/nomostest/artifactregistry/yaml.go
  e2e/nomostest/config_sync.go
  e2e/nomostest/gitproviders/repository.go
  e2e/nomostest/new.go
  e2e/nomostest/ntopts/new.go
  e2e/nomostest/registry_server.go
  e2e/nomostest/registryproviders/artifact_registry.go
  e2e/nomostest/registryproviders/helm.go
  e2e/nomostest/registryproviders/image.go
  e2e/nomostest/registryproviders/local.go
  e2e/nomostest/registryproviders/registry_provider.go
  e2e/nomostest/ssh.go
  e2e/testcases/helm_sync_test.go
  e2e/testcases/oci_sync_test.go
  e2e/testcases/private_cert_secret_test.go
  e2e/testcases/stress_test.go
  e2e/testcases/workload_identity_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

fix: use google-cloud-cli package instead of sdk
  build/prow/e2e/Dockerfile
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

fix: use google-cloud-cli package instead of sdk (#1130)
  build/prow/e2e/Dockerfile
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3
