Repository GoogleContainerTools/kpt-config-sync: changes, and which Prow jobs are due for each by the changed paths.
All: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

kpt-config-sync-presubmit-e2e-mono-repo-test-group1:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-service-account: 'true'
    preset-dind-enabled-memory: 'true'
  spec:
    containers:
    - image: gcr.io/oss-prow-build-kpt-config-sync/e2e-prow:kubekins-e2e-v20220708-6b0cfd300e-1.23-kind-v0.14.0
      command:
      - runner.sh
      env:
  ...

kpt-config-sync-presubmit-e2e-mono-repo-test-group2:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-service-account: 'true'
    preset-dind-enabled-memory: 'true'
  spec:
    containers:
    - image: gcr.io/oss-prow-build-kpt-config-sync/e2e-prow:kubekins-e2e-v20220708-6b0cfd300e-1.23-kind-v0.14.0
      command:
      - runner.sh
      env:
  ...

kpt-config-sync-presubmit-e2e-mono-repo-test-group3:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-service-account: 'true'
    preset-dind-enabled-memory: 'true'
  spec:
    containers:
    - image: gcr.io/oss-prow-build-kpt-config-sync/e2e-prow:kubekins-e2e-v20220708-6b0cfd300e-1.23-kind-v0.14.0
      command:
      - runner.sh
      env:
  ...

kpt-config-sync-presubmit-e2e-multi-repo-test-group1:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-service-account: 'true'
    preset-dind-enabled-memory: 'true'
  spec:
    containers:
    - image: gcr.io/oss-prow-build-kpt-config-sync/e2e-prow:kubekins-e2e-v20220708-6b0cfd300e-1.23-kind-v0.14.0
      command:
      - runner.sh
      env:
  ...

kpt-config-sync-presubmit-e2e-multi-repo-test-group2:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-service-account: 'true'
    preset-dind-enabled-memory: 'true'
  spec:
    containers:
    - image: gcr.io/oss-prow-build-kpt-config-sync/e2e-prow:kubekins-e2e-v20220708-6b0cfd300e-1.23-kind-v0.14.0
      command:
      - runner.sh
      env:
  ...

kpt-config-sync-presubmit-e2e-multi-repo-test-group3:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-service-account: 'true'
    preset-dind-enabled-memory: 'true'
  spec:
    containers:
    - image: gcr.io/oss-prow-build-kpt-config-sync/e2e-prow:kubekins-e2e-v20220708-6b0cfd300e-1.23-kind-v0.14.0
      command:
      - runner.sh
      env:
  ...

kpt-config-sync-terraform-presubmit:
  decorate: true
  spec:
    nodeSelector:
      cloud.google.com/gke-nodepool: small-job-pool
    containers:
    - image: hashicorp/terraform:1.3.0
      command:
      - make
      resources:
        requests:
          memory: 1Gi
          cpu: 1000m
      args:
      - -C
      - e2e/testinfra/terraform
      - validate

use nt.Must for clean fail
  e2e/nomostest/sync-status-watch-controller.go
  e2e/testcases/postsync_logging_test.go
  examples/post-sync/controller_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

build binary to .output
  e2e/nomostest/sync-status-watch-controller.go
  examples/post-sync/.dockerignore
  examples/post-sync/.gitignore
  examples/post-sync/Dockerfile
  examples/post-sync/Makefile
  examples/post-sync/controller.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

small fixes
  e2e/nomostest/sync-status-watch-controller.go
  examples/post-sync/.gitignore
  examples/post-sync/controller.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

add examples/post-sync to presubmit check
  Makefile
  Makefile.build
  e2e/nomostest/sync-status-watch-controller.go
  examples/post-sync/.golangci.yaml
  examples/post-sync/Dockerfile
  examples/post-sync/controller.go
  examples/post-sync/go.mod
  examples/post-sync/go.sum
  examples/post-sync/main.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

feat: print applier stats in reconciler finalizer
  pkg/reconciler/finalizer/base_finalizer.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

chore: fix CVE-2025-22872 in helm and otelcontribcol (#1646)
  Makefile
  pkg/hydrate/tool_util.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: fix TestOtelCollectorDeployment expectation (#1650)
  e2e/testcases/otel_collector_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

feat: print applier stats in reconciler finalizer (#1652)
  pkg/reconciler/finalizer/base_finalizer.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

fix README and comments
  examples/post-sync/.golangci.yaml
  examples/post-sync/README.md
  examples/post-sync/controller.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

add log viewer to test runner iam
  e2e/testcases/otel_collector_test.go
  e2e/testinfra/terraform/prow/service_accounts.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

chore: add Makefile rule to cleanup unused images
  docs/development.md
Due: none

add log viewer to test runner iam (#1656)
  e2e/testcases/otel_collector_test.go
  e2e/testinfra/terraform/prow/service_accounts.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

chore: add Makefile rule to cleanup unused images (#1655)
  docs/development.md
Due: none

enable google cloud logging api from test infra
  e2e/testinfra/terraform/common/services.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

enable google cloud logging api from test infra (#1657)
  e2e/testinfra/terraform/common/services.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

fix retry in postsync cloud logging
  e2e/testcases/postsync_logging_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

fix retry in postsync cloud logging (#1659)
  e2e/testcases/postsync_logging_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

chore: bump otelcontribcol to 0.118.0-gke.9
  Makefile
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Remove buildx builder instance after image push
  Makefile.build
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

chore: bump otelcontribcol to 0.118.0-gke.9 (#1660)
  Makefile
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Remove buildx builder instance after image push (#1661)
  Makefile.build
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: wait for GKE cluster readiness
  e2e/nomostest/clusters/gke.go
  e2e/nomostest/retry/retry.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: wait for GKE cluster readiness (#1663)
  e2e/nomostest/clusters/gke.go
  e2e/nomostest/retry/retry.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: Update Bitbucket workspace
  e2e/nomostest/gitproviders/bitbucket.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: Update Bitbucket workspace (#1664)
  e2e/nomostest/gitproviders/bitbucket.go
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: Revert parsing hack for go-junit-report
  scripts/e2e.sh
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: Update go-junit-report to 2.1.0
  build/prow/e2e/Dockerfile
  cmd/junit-report/resetfailure/reset_failure.go
  go.mod
  go.sum
  vendor/github.com/jstemmer/go-junit-report/v2/gtr/gtr.go
  vendor/github.com/jstemmer/go-junit-report/v2/junit/junit.go
  vendor/modules.txt
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

test: Revert parsing hack for go-junit-report (#1667)
  build/prow/e2e/Dockerfile
  cmd/junit-report/resetfailure/reset_failure.go
  go.mod
  go.sum
  scripts/e2e.sh
  vendor/github.com/jstemmer/go-junit-report/v2/gtr/gtr.go
  vendor/github.com/jstemmer/go-junit-report/v2/junit/junit.go
  vendor/modules.txt
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Revert "test: Revert parsing hack for go-junit-report (#1667)"
  build/prow/e2e/Dockerfile
  cmd/junit-report/resetfailure/reset_failure.go
  go.mod
  go.sum
  scripts/e2e.sh
  vendor/github.com/jstemmer/go-junit-report/v2/gtr/gtr.go
  vendor/github.com/jstemmer/go-junit-report/v2/junit/junit.go
  vendor/modules.txt
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Revert "test: Revert parsing hack for go-junit-report (#1667)" (#1669)
  build/prow/e2e/Dockerfile
  cmd/junit-report/resetfailure/reset_failure.go
  go.mod
  go.sum
  scripts/e2e.sh
  vendor/github.com/jstemmer/go-junit-report/v2/gtr/gtr.go
  vendor/github.com/jstemmer/go-junit-report/v2/junit/junit.go
  vendor/modules.txt
Due: kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Path conditions:
  kpt-config-sync-presubmit-e2e-mono-repo-test-group1: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-mono-repo-test-group2: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-mono-repo-test-group3: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo-test-group1: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo-test-group2: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo-test-group3: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-terraform-presubmit: any of: ^e2e/testinfra/terraform/
