Repository GoogleCloudPlatform/compute-image-import: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

Revert "Update bucket attributes in order to disable soft delete (#155)"
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Revert "Update bucket attributes in order to disable soft delete (#155)" (#156)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Update OWNERS_ALIASES - add shtarkmang
  OWNERS_ALIASES
Due: none

Update OWNERS_ALIASES - add shtarkmang (#158)
  OWNERS_ALIASES
Due: none

Reapply "Update bucket attributes in order to disable soft delete (#155)" (#156)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Reapply "Update bucket attributes in order to disable soft delete (#155)" (#156) (#157)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Remove soft deletion when GCS bucket is provided as an arg
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Remove references of compute-image-tools
  cli_tools_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_build_prepare.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_rollback.yaml
Due: none

Use Debian12 base containers in export flows
  gce_ovf_export.Dockerfile
  gce_vm_image_export.Dockerfile
Due: none

Use Debian12 base containers in export flows (#161)
  gce_ovf_export.Dockerfile
  gce_vm_image_export.Dockerfile
Due: none

Replace usage of the deleted projects/debian-cloud/global/images/family/debian-10 from export tests
  daisy_integration_tests/image_export_latest.wf.json
  daisy_integration_tests/image_export_latest_with_pd_standard.wf.json
  daisy_integration_tests/image_export_nondefault_network_latest.wf.json
  daisy_integration_tests/image_export_release.wf.json
  daisy_integration_tests/image_export_subnetwork_latest.wf.json
  daisy_integration_tests/image_export_vmdk_latest.wf.json
  daisy_integration_tests/image_export_vmdk_latest_with_pd_standard.wf.json
  daisy_integration_tests/image_export_vmdk_release.wf.json
Due: none

Remove references of compute-image-tools (#160)
  cli_tools_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_build_prepare.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_rollback.yaml
Due: none

Remove deb10 from export tests (#162)
  daisy_integration_tests/image_export_latest.wf.json
  daisy_integration_tests/image_export_latest_with_pd_standard.wf.json
  daisy_integration_tests/image_export_nondefault_network_latest.wf.json
  daisy_integration_tests/image_export_release.wf.json
  daisy_integration_tests/image_export_subnetwork_latest.wf.json
  daisy_integration_tests/image_export_vmdk_latest.wf.json
  daisy_integration_tests/image_export_vmdk_latest_with_pd_standard.wf.json
  daisy_integration_tests/image_export_vmdk_release.wf.json
Due: none

Remove soft deletion when GCS bucket is provided as an arg (#159)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Increase verify-output timeout in export tests
  daisy_integration_tests/image_export_nondefault_network_latest.wf.json
  daisy_integration_tests/image_export_release.wf.json
  daisy_integration_tests/image_export_subnetwork_latest.wf.json
Due: none

Increase verify-output timeout in export tests (#163)
  daisy_integration_tests/image_export_nondefault_network_latest.wf.json
  daisy_integration_tests/image_export_release.wf.json
  daisy_integration_tests/image_export_subnetwork_latest.wf.json
Due: none

Update debian_worker_cloudbuild.yaml
  debian_worker_cloudbuild.yaml
Due: none

Update debian_worker_cloudbuild.yaml (#164)
  debian_worker_cloudbuild.yaml
Due: none

Use the latest debian 11 worker
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  daisy_integration_tests/create_random_data_image.subwf.json
  daisy_integration_tests/image_export_vmdk_given_size_verify.subwf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Use the latest debian 11 worker
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  daisy_integration_tests/create_random_data_image.subwf.json
  daisy_integration_tests/image_export_vmdk_given_size_verify.subwf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_9.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_9_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_9_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rocky_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rocky_9.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Use the latest debian 11 worker (#166)
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  daisy_integration_tests/create_random_data_image.subwf.json
  daisy_integration_tests/image_export_vmdk_given_size_verify.subwf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_9.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_9_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_9_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rocky_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rocky_9.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Revert "Use Debian12 base containers in export flows (#161)"
  gce_ovf_export.Dockerfile
  gce_vm_image_export.Dockerfile
Due: none

Revert "Use Debian12 base containers in export flows (#161)" (#167)
  gce_ovf_export.Dockerfile
  gce_vm_image_export.Dockerfile
Due: none

Revert "Remove soft deletion when GCS bucket is provided as an arg (#159)"
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Revert "Reapply "Update bucket attributes in order to disable soft delete (#155)" (#156) (#157)"
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Revert gcs bucket update (#168)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

export: Fetch devices by IDs
  daisy_workflows/export/disk_resizing_mon.sh
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_disk_ext.sh
Due: none

export: Fetch devices by IDs (#169)
  daisy_workflows/export/disk_resizing_mon.sh
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_disk_ext.sh
Due: none

export: Fix device name for non ext flow
  daisy_workflows/export/export_disk.sh
Due: none

export: Fix device name for non ext flow (#170)
  daisy_workflows/export/export_disk.sh
Due: none

export: Use the MD server IP directly
  daisy_workflows/export/disk_resizing_mon.sh
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_disk_ext.sh
Due: none

export: Use the MD server IP directly (#175)
  daisy_workflows/export/disk_resizing_mon.sh
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_disk_ext.sh
Due: none

image builder: Introduce image builder tf module
  image_builder/modules/imagebuild/README.md
  image_builder/modules/imagebuild/main.tf
  image_builder/modules/imagebuild/outputs.tf
  image_builder/modules/imagebuild/variables.tf
  image_builder/modules/imagebuild/versions.tf
Due: none

image builder: Introduce image builder tf module (#179)
  image_builder/modules/imagebuild/README.md
  image_builder/modules/imagebuild/main.tf
  image_builder/modules/imagebuild/outputs.tf
  image_builder/modules/imagebuild/variables.tf
  image_builder/modules/imagebuild/versions.tf
Due: none

CMEK
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

CMEK
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/data_disk_processor.go
  cli_tools/common/image/importer/processor.go
  cli_tools/common/image/importer/request.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/workflow_hook_resource_labeler.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/cli.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Update README.md to account for the import deprecation
  README.md
Due: none

Update README.md
  daisy_workflows/image_import/suse/suse_import/README.md
Due: none

Stop Updating Image Import Containers When Commiting
  cli_tools_cloudbuild.yaml
Due: none

Stop Updating Image Import Containers When Commiting (#184)
  cli_tools_cloudbuild.yaml
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
