Repository GoogleCloudPlatform/compute-image-import: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/compute-image-import/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

Added no_external_ip flag to gce vm image export tool
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Formatted code appropriately
  cli_tools/gce_vm_image_export/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Image Export: Add Checksum Verification To Disk Monitor Script
  daisy_workflows/export/export_disk_ext.sh
Due: none

Image Export: Add Checksum Verification To Disk Monitor Script (#189)
  daisy_workflows/export/export_disk_ext.sh
Due: none

Add nirbarjoseph-cloud as owner
  OWNERS_ALIASES
Due: none

Remove explicit build and deploy of all tools except gce_vm_export
  cli_tools_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

Build only vm export tool (#190)
  OWNERS_ALIASES
  cli_tools_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

Remove build step making binaries bucket public
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

Remove build step making binaries bucket public (#191)
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

Add "legacy" tag to any new build/release from legacy repo
  cli_tools_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
Due: none

Add "legacy" tag to any new build/release from legacy repo (#194)
  cli_tools_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
Due: none

Avoid needles use of exteranl repo struct validator
  cli_tools/common/image/importer/request.go
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Image Export: Reduce code complexity and depndence in export script
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export/image_export.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Image Export: Reduce code complexity and depndence in export script
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export/image_export.wf.json
Due: none

Update go version to 1.23.0
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  common/go.mod
  go/e2e_test_utils/go.mod
  go/e2e_test_utils/go.sum
  proto/go/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

chore:Migrate gsutil usage to gcloud storage
  cli_tools_cloudbuild.yaml
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  daisy_integration_tests/scripts/run_daisy_and_check_logs.sh
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export_metadata/export-metadata.ps1
  daisy_workflows/image_import/import_image.sh
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/windows/bootstrap_2003.ps1
  image_test/configuration/linux/generic_distro.py
  rollout/cli_tools_cloudbuild_build.yaml
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

chore:Migrate gsutil usage to gcloud storage
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
Due: none

removed gsutil
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_3_disks.sh
  daisy_integration_tests/scripts/post_translate_test.sh
  daisy_workflows/image_import/enterprise_linux/translate.py
  image_test/configuration/README.md
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

updates
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export_metadata/export-metadata.ps1
Due: none

removed gsutil
  image_test/configuration/linux/generic_distro.py
Due: prow/presubmit/flake8

Change disk hash verification from md5 to sha256
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/imagefile/qemu_img.go
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

gce_ovf_import: Pass Oauth Also To Storage Client
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Image Export: Get Workflow From Different Path Bases
  cli_tools/gce_vm_image_export/exporter/exporter.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

OVF Import: Allow to supply Daisy folder as an environment variable
  cli_tools/gce_ovf_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Delete vm export auto build
  cli_tools_cloudbuild.yaml
Due: none

fix: remove unregistered PyPI packages from install_requires
  daisy_workflows/image_import/inspection/setup.py
  daisy_workflows/image_import/suse/suse_import/setup.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Use COS and docker QEMU in the worker instance
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/disk_resizing_mon.sh
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Improve tar.gz disk export performance:
  cli_tools/gce_vm_image_export/exporter/exporter.go
  daisy_workflows/export/disk_export_ext_tar.wf.json
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export/export_disk_ext_tar.sh
  daisy_workflows/export/image_export_ext_tar.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Update OWNERS_ALIASES (#214)
  OWNERS_ALIASES
Due: none

Use latest qemu_img by default.
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

export: Fix COS STATE/OEM partition collision during export (b/546612258)
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/export_disk_ext.sh
Due: none

export: Fix COS STATE/OEM partition collision during export (b/546612258) (#217)
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/export_disk_ext.sh
Due: none

Support external_ip flag for gce_vm_image_export
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

add tests
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/mocks/mock_compute_client.go
  daisy_workflows/export/export_disk_ext.sh
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Revert go.mod and go.sum changes
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

export: Fix COS STATE/OEM partition collision during tar export (b/546612258)
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/disk_export_ext_tar.wf.json
  daisy_workflows/export/export_disk_ext_tar.sh
Due: none

export: Fix COS STATE/OEM partition collision during tar export (b/546612258) (#219)
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/disk_export_ext_tar.wf.json
  daisy_workflows/export/export_disk_ext_tar.sh
Due: none

Update OWNERS_ALIASES with image export owners
  OWNERS_ALIASES
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
